html,
body {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

.app-background {
    display: flex;
    margin: 0;
    background-color: #6d673a;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    margin: 0;
    height: 100%;
    background-color: white;
    width: 100%;
    min-height: 700px;
    max-width: 480px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
